.active {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: white;
  padding: 5px 15px;
  border-radius: 3px;
  background: rgb(251, 191, 36, 1);
}
.navLink {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: white;
  padding: 5px 15px;
  border-radius: 3px;
}
.navLink:hover {
  color: white;
  background: rgb(251, 191, 36, 1);
}
